<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>qube - автоматизация в облаке</title>

    <link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css?1951186563" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js?1951186563"></script>
</head>
<body class="white grey-text text-darken-4">

<nav class="light-blue darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">qube</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Персонализация</a></li>
            <li><a href="/favorites/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Мои документы 

                {% if pinnedBPOCount|integer > 0 %}
                    <span class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                
            </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Персонализация</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Мои документы 

                {% if pinnedBPOCount|integer > 0 %}
                <span id="pinned-count" class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                </a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

</nav>
<nav class="light-blue darken-4" role="navigation">
    <ul class="left hide-on-med-and-down">
        <li><a href="/dashboard/">Рабочий стол</a></li>
        <li><a href="/tasks/">Задачи</a></li>
        <li><a href="/registry/">Документы</a></li>
        <li><a href="/projects/">Проекты</a></li>
        <li><a href="/calendar/">Встречи</a></li>
        <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>Система</a></li>
    </ul>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/system/organization/">Организация</a></li>
        <li><a href="/system/users/">Пользователи</a></li>
        <li><a href="/system/roles/">Роли</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/system/docs/">Документы</a></li>
        <li><a href="/system/forms/">Формы</a></li>
        <li><a href="/system/references/">Справочники</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/system/projects/">Проекты</a></li>
        <li><a href="/system/registry/">Реестры</a></li>
        <li><a href="/system/tasks/">Задачи</a></li>
    </ul>
</nav>



        
		<div class="row">
            <div class="col s18 l8">
                



                
                <div class="container bottom padded">
                
{% if paginator.TotalPages > 1 %}

<ul class="pagination">

	{% if paginator.Prev %}
		<li class="waves-effect"><a href="{{ paginator.Prev }}"><i class="material-icons">chevron_left</i></a></li>
	{% else %}
    	<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	{% endif %}

    {% for page in paginator.List %}
    {% if page.Current %}
	<li class="active blue-grey"><a href="#!">{{ page.Number }}</a></li>
    {% else %}
	<li class="waves-effect"><a href="{{ page.URL }}">{{ page.Number }}</a></li>
    {% endif %}
    {% endfor %}

	{% if paginator.Next %}
		<li class="waves-effect"><a href="{{ paginator.Next }}"><i class="material-icons">chevron_right</i></a></li>
	{% else %}
    	<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	{% endif %}

</ul>

{% endif %}


                </div>
            </div>
		</div>

        

<script>
    $( function() {

        $( document ).tooltip({
            items: "[title], [data-tooltip]",
            content: function() {
                var element = $( this );
                if ( element.is( "[data-tooltip]" ) ) {
                    return element.text();
                }
                if ( element.is( "[title]" ) ) {
                    return element.attr( "title" );
                }
            }
        });
    } );
</script>

        <style>
            .ui-tooltip {
                background: #373648;
                border: 1px solid white;
                opacity: 0.85;
                color: white;
                font-size: 12px;
            }
        </style>

        



<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Новости и релизы
                </h5>
                <p>Последние новости и релизы</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Свяжитесь с нами
                </h5>
                </div>
            <div class="col l4 s12">
                <h5>
                    Куки файлы
                </h5>
                <p>Этот сайт использует файлы куки для технических целей.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 qube, All rights reserved.
        </div>
    </div>
</footer>



<ul id="slide-out" class="side-nav grey lighten-3">
    <li><div class="user-view">
    {% if currentUser.UserID == 0 %}
        <span class="blue-text"><i class="material-icons medium">person</i></span>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% else %}
        <div class="background">
            <img src="https://imageserver.eveonline.com/Character/{{ currentUser.UserID }}_512.jpg" width="300">
        </div>
        <div style="height: 270px;"></div>
        <h5 class="blue-text">{{ currentUser.UserLastName }}</h5>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% endif %}
    </div></li>
    <li><div class="divider"></div></li>
    <li>
        <div class="row">
            <div class="col l1 s12"></div>
            <div class="col l10 s12">

            </div>
            <div class="col l1 s12"></div>
        </div>
    </li>
</ul>




</body>
</html>