<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>EVE INDUSTRY MARKET ANALYZER</title>

	<link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
</head>
<body class="grey lighten-5 grey-text text-darken-4">

<nav class="blue-grey" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">EIMA</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Settings</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Pinned Blueprints 

                {% if pinnedBPOCount|integer > 0 %}
                    <span class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                
            </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Settings</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Pinned Blueprints 

                {% if pinnedBPOCount|integer > 0 %}
                <span id="pinned-count" class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                </a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

</nav>

<div class="row">
    <div class="container col s12 l6 right">
        <div class="input-field col s8 inline left">
            <i class="material-icons prefix" id="search-btn">search</i>
            <input id="search" type="text" name="searchText" class="grey-text" value="{{ search }}">
            <label for="search">Search</label>
        </div>
    </div>
</div>



        

        

{% macro RenderSubMatRows(component, componentLpath, materials) %}

    {% for m in materials %}

        {% if m.BpoID == component and m.LPath.In(componentLpath) %}

            <tr{% if m.ComponentBPO != 0 and m.LPath.In(componentLpath) %} class="no-border"{% endif %}>
                <td style="padding-left: {{ 10 * m.Lvl }}px;" class="valign-wrapper">
                    {% if m.ComponentBPO != 0 %}
                        <a class="valign-wrapper" href="/item/{{ m.ComponentBPO|EncryptURL }}">
                            <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
                        </a>
                    {% else %}
                        <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
                    {% endif %}
                </td>
                <td>{{ m.Quantity|FormatPrice }}</td>
                <td>{{ m.AvgPrice|FormatPrice }}</td>
                <td>{{ m.Cost|FormatPrice }}</td>
                <td>{{ m.TotalVolume|FormatPrice }}</td>
                <td>{% if m.ComponentBPO != 0 %}{{ m.ActivityName }}{% endif %}</td>
            </tr>

            {% if m.ComponentBPO != 0 and m.LPath.In(componentLpath) %}

                {{ RenderSubMatRows(m.ComponentBPO, m.LPath, materials) }}

            {% endif %}

        {% endif %}

    {% endfor %}

{% endmacro %}



<div class="container">
		<div class="row">
			<div class="col s12 l12">
                

                {% if selected == "index" %}
                    <nav class="blue-grey lighten-2">
                {% elif selected == "manufacturing" %}
                    <nav class="orange lighten-1">
                {% elif selected == "research" %}
                    <nav class="blue lighten-1">
                {% elif selected == "market" %}
                    <nav class="grey lighten-1">
                {% elif selected == "timeline" %}
                    <nav class="green lighten-1">
                {% endif %}
                    <div class="nav-wrapper">
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li{% if selected == "index" %} class="active"{% endif %}><a href="/item/{{ item.TypeID|EncryptURL }}">General</a></li>
                            <li{% if selected == "manufacturing" %} class="active"{% endif %}><a href="/item-manufacturing/{{ item.TypeID|EncryptURL }}">Manufacturing</a></li>
                            <li{% if selected == "research" %} class="active"{% endif %}><a href="/item-research/{{ item.TypeID|EncryptURL }}">Invention</a></li>
                            <li{% if selected == "market" %} class="active"{% endif %}><a href="/market/{{ item.TypeID|EncryptURL }}">Market</a></li>
                            <li{% if selected == "timeline" %} class="active"{% endif %}><a href="/timeline/{{ item.TypeID|EncryptURL }}">Production timeline</a></li>
                            <li><a href="#" class="my-blueprints-control" data-typeid="{{ item.TypeID|EncryptURL }}"><i class="material-icons" title="Pin it!">pin_drop</i></a></li>
                        </ul>
                    </div>
                </nav>

                <h3 class="valign-wrapper">
                       <img src="/images/types/{{ item.TypeID }}_64.png"> {{ item.BpoName }}
                </h3>


                
                




                <div class="col s12 l12">
                    <h5>General</h5>
                    <table class="responsive-table striped">
                        <tr>
                            <td>Product</td>
                            <td class="valign-wrapper">
                                <div class="left valign-wrapper"><img src="/images/types/{{ item.ProductTypeID }}_32.png">{{ item.ProductName }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>BPO exists on market</td>
                            <td>{% if item.BPOPurchasable %}<a href="/market/{{ item.TypeID|EncryptURL }}" class="button-link">Market</a>{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Batch</td>
                            <td>{{ item.Batch }}</td>
                        </tr>
                        <tr>
                            <td>Adjusted manufacturing time</td>
                            <td><b>{{ item.AdjTime|FormatDuration }}</b></td>
                        </tr>
                        <tr>
                            <td>Average price</td>
                            <td><b>{{ item.SalesAvg|FormatPrice }}</b></td>
                        </tr>
                        <tr>
                            <td>Cost direct production</td>
                            <td>{{ item.TotalCostBuy|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Marginal income direct production</td>
                            <td>{{ item.MarginalIncomeBuy|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Isk/h direct production</td>
                            <td><b>{{ item.IskhBuy|FormatPrice }}</b></td>
                        </tr>
                    </table>
                </div>
                



			</div>
		</div>
</div>


<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Help EIMA Grow
                </h5>
                <p>We hope you have enjoyed using EIMA and it helped you somehow. If you feel like you want to support us then you can help us by donating some ISK ingame to the character Ace Ruffian. Any donation could help supporting this project and would be greatly appreciated.</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Connect
                </h5>
                <a href="https://www.fuzzwork.co.uk/dump/" class="white-text">EVE SDE Dump by fuzzwork.co.uk</a><br>
                <iframe src="https://ghbtns.com/github-btn.html?user=aehler&repo=weasel&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
            <div class="col l4 s12">
                <h5>
                    Cookies
                </h5>
                <p>This website use cookies for essential purposes. Such as auto login and analytics. We use cookies in order to give you the best experience possible.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 EVE INDUSTRY MARKET ANALYZER, All rights reserved.
            <br><br>
            EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
        </div>
    </div>
</footer>



<ul id="slide-out" class="side-nav grey lighten-5">
    <li><div class="user-view">
    {% if currentUser.UserID == 0 %}
        <span class="blue-text"><i class="material-icons medium">person</i></span>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% else %}
        <div class="background">
            <img src="https://imageserver.eveonline.com/Character/{{ currentUser.UserID }}_512.jpg" width="300">
        </div>
        <div style="height: 270px;"></div>
        <h5 class="blue-text">{{ currentUser.UserLastName }}</h5>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% endif %}
    </div></li>
    <li><div class="divider"></div></li>
    <li>
        <div class="row">
            <div class="col l1 s12"></div>
            <div class="col l10 s12">
            <form id="settings-form" autocomplete="off">
                <h5 class="grey-text">Settings</h5>
                <div class="input-field">
                    <input id="region" type="text" class="autocomplete" name="region" autocomplete="off" value="{{ userSettings.Region }}">
                    <input name="regionID" id="regionID" value="{{ userSettings.RegionID }}" type="hidden" autocomplete="off" />
                    <label for="region">Region</label>
                </div>
                <div class="input-field">
                    <input name="settings-pi" id="settings-pi" value="{{ userSettings.MarketShare }}" type="text" autocomplete="off" />
                    <label for="settings-pi">Market share, %</label>
                </div>
                <button class="btn waves-effect waves-light blue-grey lighten-1" type="submit" id="settings-submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            </div>
            <div class="col l1 s12"></div>
        </div>
    </li>
</ul>




</body>
</html>