<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<title>SRM MONITOR</title>

	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/assets/css/jquery.sidr.bare.css">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
	<link href="/assets/css/api.css" rel="stylesheet" type="text/css" />
	<script src="/assets/js/jquery-3.1.1.js"></script>
	<script src="/assets/js/jquery.simple.websocket.min.js"></script>
	<script src="/assets/js/highcharts.js"></script>
	<script type="text/javascript" src="/assets/themes/dark-unica.js"></script>
	<script type="text/javascript" src="/assets/js/monitor.js"></script>
</head>
<body>
<div id="top">
	<div class="container top">
		<div class="cell sidebar-nav-link">
			<a id="sidebar-nav-link" class="sidebar-nav-link" href="#nav"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
		<div class="cell highcharts-logo highcharts-link">

		</div>
		<div class="cell page-title">
			<h1>SRM MONITOR</h1>
		</div>
	</div>
	<div class="container bottom">

		

	</div>

</div>
<div id="wrapper">
	<div class="container">

		
		<div class="container padded">
			
			<h2>Ошибки сервиса {{ service }}</h2>

			<div class="container">
				<a href="/">Главная</a> |
				{% if offset > 0 %}
				<a href="/log/{{ service }}/"><< В начало</a> |
				<a href="/log/{{ service }}/?offset={{ offset - limit }}">< Назад</a> |
				{% endif %}
				<a href="/log/{{ service }}/?offset={{ offset + limit }}">Вперед ></a>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<table>

				<tr>
					<th>Критичность</th>
					<th>Дата возникновения</th>
					<th>Инфо</th>
					<th>..</th>
				</tr>

				{% for l in logs %}
					<tr>
						<td><i class="fa fa-battery-{{ l.SeverityLevel + 2 }} severity-{{ l.SeverityLevel + 2 }}" aria-hidden="true"></i></td>
						<td>{{ l.Occured|date:"02.01.2006 15:04:05" }}</td>
						<td>{{ l.Info }}</td>
						<td><a href="/message/{{ l.LogID }}/">Подробно</a></td>
					</tr>
				{% endfor %}

				</table>
			</div>
			
		</div>


	</div>
</div>
<div id="footer">
	<div class="container">
		<div id="footer-copy">
			&copy;&nbsp;SRM Monitor 2017. All rights reserved. Powered by Weasel.
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<a id="scrollTop" href="#top" style="display: none;"><i class="fa fa-arrow-up"></i></a>
</body>
</html>