<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>EVE INDUSTRY MARKET ANALYZER</title>

	<link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
</head>
<body class="grey lighten-5 grey-text text-darken-4">

<nav class="blue-grey" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">EIMA</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Settings</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Pinned Blueprints 

                {% if pinnedBPOCount|integer > 0 %}
                    <span class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                
            </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Settings</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Pinned Blueprints 

                {% if pinnedBPOCount|integer > 0 %}
                <span id="pinned-count" class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                </a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

</nav>

<div class="row">
    <div class="container col s12 l6 right">
        <div class="input-field col s8 inline left">
            <i class="material-icons prefix" id="search-btn">search</i>
            <input id="search" type="text" name="searchText" class="grey-text" value="{{ search }}">
            <label for="search">Search</label>
        </div>
    </div>
</div>




        
		<div class="row">
            <div class="col s12 l2 card blue-grey lighten-5">
            </div>
            <div class="col s12 l8">
                <h3><i class="material-icons left medium">data_usage</i> Recommended production cycle</h3>
                

                <div class="row">

                    <ul class="collapsible" data-collapsible="accordion">

                        {% for item in items %}

                        <li>
                            <div class="collapsible-header valign-wrapper"><img src="/images/types/{{ item.Item.TypeID }}_32.png" class="eve-icon">{{ item.Item.BpoName }}

                            </div>
                            <div class="collapsible-body">

                                <p>
                                    <h4 class="orange-text">Marketing plan</h4>
                                    {% if item.BasedOnShare %}
                                With your market share of <b>{{ userSettings.MarketShare }}%</b> you will most likely sell <b>{{ item.SalesBatch }}</b> items in {{ header.Basis }}
                                resulting in a raw profit without taxes of <b>{{ item.RawProfit|FormatPrice }} Isk</b> ({{ item.RegionalAvg|FormatPrice }} Isk per item), assuming you will sell by sell orders.
                                    {% else %}
                                    You plan to produce <b>{{ item.PlannedBatch }}</b> {{ item.Item.ProductName }}. Wholesale of this ammount will most likely take
                                    <b>
                                        {% if item.TimeToSell == 0 %}
                                        less then a day
                                        {% elif item.TimeToSell == 1 %}
                                        1 day
                                        {% elif item.TimeToSell >= 999 %}
                                        way too long
                                        {% else %}
                                        {{ item.TimeToSell }} days
                                        {% endif %}
                                    </b>,
                                    assuming <b>{{ userSettings.MarketShare }}%</b> is your market share
                                    resulting in a raw profit without taxes of <b>{{ item.RawProfit|FormatPrice }} Isk</b>
                                    {% endif %}
                                    <br>
                                    <a href="/market/{{ item.Item.TypeID|EncryptURL }}">View market history</a> for this item.
                                </p>
                                {% if item.InventionIncluded %}
                                <h4 class="orange-text">Invention plan</h4>
                                <p>{% set adjp = item.Item.ResearchData.AdjProbability * 100 %}
                                    You have chosen to invent by yourself. Your chance of invention a base {{ item.Item.ResearchData.Quantity }} run BPC is <b>{{ adjp|FormatPrice }}%</b>
                                    resulting in an additional cost of <b>{{ item.InventionCostAdj|FormatPrice }} per item</b>.
                                    {% if item.Decryptor.TypeID != 0 %}
                                    <br>
                                {% set ic = item.Decryptor.InvChance * 100 %}
                                    We'd recommend to use <span class="valign-wrapper"><img src="/images/types/{{ item.Decryptor.TypeID }}_32.png" class="eve-icon">{{ item.Decryptor.TypeName }}
    ( {{ ic|FormatPrice }}% chance bonus, + {{ item.Decryptor.MaxRuns }} max runs)</span> that will bring your per item invention costs to
                                    <b>{{ item.InventionCostAdjWithDecryptor|FormatPrice }}</b> Isk, minimizing both research and invention costs.
                                    {% else %}
                                    <br>
                                    We don't recommend using any decryptors
                                    {% endif %}
                                    <br>To invent sufficient runs BPC's you will have to run invention job <b>{{ item.InventionJobRuns }} times</b>.

                                    <br>Thus you will have to invest in invention <b>{{ item.InventionCosts|FormatPrice }}</b> Isk.

    <br><br><b>Here is the bill of materials for invention</b>
    <table class="responsive-table striped">
        <tr>
            <th>Material</th>
            <th>Quantity per run</th>
            <th>Total quantity needed</th>
            <th>Total cost (sell orders)</th>
        </tr>
    {% for ir in item.Item.ResearchData.Materials %}
        <tr>
{% set tc = ir.Cost * item.InventionJobRuns %}
            <td class="valign-wrapper"><img src="/images/types/{{ ir.TypeID }}_32.png" class="eve-icon">{{ ir.MaterialTypeName }}</td>
            <td>{{ ir.Quantity }}</td>
            <td>{{ ir.Quantity * item.InventionJobRuns }}</td>
            <td>{{ tc|FormatPrice }}</td>
        </tr>
    {% endfor %}
    {% if item.Decryptor.TypeID != 0 %}
<tr>
        <td class="valign-wrapper"><img src="/images/types/{{ item.Decryptor.TypeID }}_32.png" class="eve-icon">{{ item.Decryptor.TypeName }}</td>
        <td>1</td>
        <td>{{ item.InventionJobRuns }}</td>
        {% set dp = item.Decryptor.AdjPrice * item.InventionJobRuns %}
        <td>{{ dp|FormatPrice }} (Average EVE price)</td>

</tr>
    {% endif %}
    </table>


                                </p>
                                {% endif %}
                                <p>
    <h4 class="orange-text">Manufacturing plan</h4>
                                    You will have to invest in production <b>{{ item.MaterialCost|FormatPrice }} Isk</b>.

    <br>{% if item.InventionIncluded %}
    You have chosen to invent BPC's, so we assume you build from invented copies: <b>{{ item.MaxRuns }} run(s) per BPC, {{ item.JobRuns }} job(s) total</b>
    <br>BPC attributes: <b>{{ item.ME }} ME</b>
        {% else %}
    We assume you build from BPO: <b>infinte runs, 1 job</b>
        <br>BPO attributes: <b>{{ item.ME }} ME</b>
        {% endif %}
                                    <br><br><b>List of materials</b>
<table class="responsive-table striped">
    <tr>
        <th>Material</th>
        <th>Quantity</th>
        <th>Sell price</th>
        <th>Buy price</th>
        <th>Production costs</th>
        <th>Optimal source *</th>
    </tr>
    {% for m in item.Item.Materials %}

    {% if m.Lvl == 1 %}
    <tr>
    <td class="valign-wrapper">{% if m.ComponentBPO != 0 %}
        <a class="valign-wrapper" href="/item/{{ m.ComponentBPO|EncryptURL }}">
            <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
        </a>
        {% else %}
        <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
        {% endif %}
    </td>
    <td>{{ m.Quantity|FormatPrice }}</td>
    <td>{{ m.SellPrice|FormatPrice }}</td>
    <td>{{ m.BuyPrice|FormatPrice }}</td>
    <td>{{ m.ProdPrice|FormatPrice }}</td>
    <td>{% if m.BetterBSP == "p" %}Production{% elif m.BetterBSP == "s" %}Purchase by sell orders{% elif m.BetterBSP == "b" %}Purchase by buy orders{% endif %}</td>
    </tr>

    {% endif %}

    {% endfor %}
</table>
        <i class="text-lighten-5">* (lowest of sell-price, 110% of production-price or 110% of buy price)</i>
                                </p>
                                <h4 class="orange-text">Timeline</h4>
                                <p>
                                    Your invention and manufacturing cycle will take ... days, here is the chart
                                </p>
                                <!--<p>
                                    Production and sales taxes (no standings taken into account)
                                </p>-->
                                <h4 class="orange-text">Totals</h4>
                                <h6>
                                    Total profit will be <b>{% set pr = item.RawProfit - item.MaterialCost - item.InventionCosts %}{{ pr|FormatPrice}}</b>
                                    Your Isk/h will be ...
                                </h6>
                            </div>
                        </li>

                        {% endfor %}

                    </ul>


                </div>

                <div class="row">
                    <h5>Totals</h5>
                </div>

                
            </div>

            <div class="col s12 l2">
                banner
            </div>
		</div>



<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Help EIMA Grow
                </h5>
                <p>We hope you have enjoyed using EIMA and it helped you somehow. If you feel like you want to support us then you can help us by donating some ISK ingame to the character Ace Ruffian. Any donation could help supporting this project and would be greatly appreciated.</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Connect
                </h5>
                <a href="https://www.fuzzwork.co.uk/dump/" class="white-text">EVE SDE Dump by fuzzwork.co.uk</a><br>
                <iframe src="https://ghbtns.com/github-btn.html?user=aehler&repo=weasel&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
            <div class="col l4 s12">
                <h5>
                    Cookies
                </h5>
                <p>This website use cookies for essential purposes. Such as auto login and analytics. We use cookies in order to give you the best experience possible.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 EVE INDUSTRY MARKET ANALYZER, All rights reserved.
            <br><br>
            EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
        </div>
    </div>
</footer>



<ul id="slide-out" class="side-nav grey lighten-5">
    <li><div class="user-view">
    {% if currentUser.UserID == 0 %}
        <span class="blue-text"><i class="material-icons medium">person</i></span>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% else %}
        <div class="background">
            <img src="https://imageserver.eveonline.com/Character/{{ currentUser.UserID }}_512.jpg" width="300">
        </div>
        <div style="height: 270px;"></div>
        <h5 class="blue-text">{{ currentUser.UserLastName }}</h5>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% endif %}
    </div></li>
    <li><div class="divider"></div></li>
    <li>
        <div class="row">
            <div class="col l1 s12"></div>
            <div class="col l10 s12">
            <form id="settings-form" autocomplete="off">
                <h5 class="grey-text">Settings</h5>
                <div class="input-field">
                    <input id="region" type="text" class="autocomplete" name="region" autocomplete="off" value="{{ userSettings.Region }}">
                    <input name="regionID" id="regionID" value="{{ userSettings.RegionID }}" type="hidden" autocomplete="off" />
                    <label for="region">Region</label>
                </div>
                <div class="input-field">
                    <input name="settings-pi" id="settings-pi" value="{{ userSettings.MarketShare }}" type="text" autocomplete="off" />
                    <label for="settings-pi">Market share, %</label>
                </div>
                <button class="btn waves-effect waves-light blue-grey lighten-1" type="submit" id="settings-submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            </div>
            <div class="col l1 s12"></div>
        </div>
    </li>
</ul>




</body>
</html>