<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>qube - автоматизация в облаке</title>

	<link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
</head>
<body class="white grey-text text-darken-4">

<nav class="light-blue darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">qube</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Персонализация</a></li>
            <li><a href="/favorites/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Мои документы 

                {% if pinnedBPOCount|integer > 0 %}
                    <span class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                
            </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#" data-activates="slide-out" id="settings-menu"><i class="material-icons left">settings</i> Персонализация</a></li>
            <li><a href="/my-blueprints/" id="bpo-menu"><i class="material-icons left">pin_drop</i> Мои документы 

                {% if pinnedBPOCount|integer > 0 %}
                <span id="pinned-count" class="new badge orange" data-badge-caption="">{{ pinnedBPOCount|integer }}</span>
                {% endif %}
                </a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

</nav>
<nav class="light-blue darken-4" role="navigation">
    <ul class="left hide-on-med-and-down">
        <li><a href="/dashboard/">Рабочий стол</a></li>
        <li><a href="/tasks/">Задачи</a></li>
        <li><a href="/registry/">Документы</a></li>
        <li><a href="/projects/">Проекты</a></li>
        <li><a href="/calendar/">Встречи</a></li>
        <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>Система</a></li>
    </ul>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/system/organization/">Организация</a></li>
        <li><a href="/system/users/">Пользователи</a></li>
        <li><a href="/system/roles/">Роли</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/system/docs/">Документы</a></li>
        <li><a href="/system/forms/">Формы</a></li>
        <li><a href="/system/references/">Справочники</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/system/projects/">Проекты</a></li>
        <li><a href="/system/registry/">Реестры</a></li>
        <li><a href="/system/tasks/">Задачи</a></li>
    </ul>
</nav>



        
		<div class="row">
            <div class="col s12 l2 card blue-grey lighten-5">
            </div>
            <div class="col s12 l8">
                <h3><i class="material-icons left medium">data_usage</i> Recommended production cycle</h3>
                

                <div class="row">

                    <ul class="collapsible" data-collapsible="accordion">

                        {% for item in items %}

                        <li>
                            <div class="collapsible-header valign-wrapper"><img src="/images/types/{{ item.Item.TypeID }}_32.png" class="eve-icon">{{ item.Item.BpoName }}

                            </div>
                            <div class="collapsible-body">

                                <p>
                                    <h4 class="orange-text">Marketing plan</h4>
                                    {% if item.BasedOnShare %}
                                With your market share of <b>{{ userSettings.MarketShare }}%</b> you will most likely sell <b>{{ item.SalesBatch }}</b> items in {{ header.Basis }}
                                resulting in a raw profit without taxes of <b>{{ item.RawProfit|FormatPrice }} Isk</b> ({{ item.RegionalAvg|FormatPrice }} Isk per item), assuming you will sell by sell orders.
                                    {% else %}
                                    You plan to produce <b>{{ item.PlannedBatch }}</b> {{ item.Item.ProductName }}. Wholesale of this ammount will most likely take
                                    <b>
                                        {% if item.TimeToSell == 0 %}
                                        less then a day
                                        {% elif item.TimeToSell == 1 %}
                                        1 day
                                        {% elif item.TimeToSell >= 999 %}
                                        way too long
                                        {% else %}
                                        {{ item.TimeToSell }} days
                                        {% endif %}
                                    </b>,
                                    assuming <b>{{ userSettings.MarketShare }}%</b> is your market share
                                    resulting in a raw profit without taxes of <b>{{ item.RawProfit|FormatPrice }} Isk</b>
                                    {% endif %}
                                    <br>
                                    <a href="/market/{{ item.Item.TypeID|EncryptURL }}">View market history</a> for this item.
                                </p>
                                {% if item.InventionIncluded %}
                                <h4 class="orange-text">Invention plan</h4>
                                <p>{% set adjp = item.Item.ResearchData.AdjProbability * 100 %}
                                    You have chosen to invent by yourself. Your chance of invention a base {{ item.Item.ResearchData.Quantity }} run BPC is <b>{{ adjp|FormatPrice }}%</b>
                                    resulting in an additional cost of <b>{{ item.InventionCostAdj|FormatPrice }} per item</b>.
                                    {% if item.Decryptor.TypeID != 0 %}
                                    <br>
                                {% set ic = item.Decryptor.InvChance * 100 %}
                                    We'd recommend to use <span class="valign-wrapper"><img src="/images/types/{{ item.Decryptor.TypeID }}_32.png" class="eve-icon">{{ item.Decryptor.TypeName }}
    ( {{ ic|FormatPrice }}% chance bonus, + {{ item.Decryptor.MaxRuns }} max runs)</span> that will bring your per item invention costs to
                                    <b>{{ item.InventionCostAdjWithDecryptor|FormatPrice }}</b> Isk, minimizing both research and invention costs.
                                    {% else %}
                                    <br>
                                    We don't recommend using any decryptors
                                    {% endif %}
                                    <br>To invent sufficient runs BPC's you will have to run invention job <b>{{ item.InventionJobRuns }} times</b>.

                                    <br>Thus you will have to invest in invention <b>{{ item.InventionCosts|FormatPrice }}</b> Isk.

    <br><br><b>Here is the bill of materials for invention</b>
    <table class="responsive-table striped">
        <tr>
            <th>Material</th>
            <th>Quantity per run</th>
            <th>Total quantity needed</th>
            <th>Total cost (sell orders)</th>
        </tr>
    {% for ir in item.Item.ResearchData.Materials %}
        <tr>
{% set tc = ir.Cost * item.InventionJobRuns %}
            <td class="valign-wrapper"><img src="/images/types/{{ ir.TypeID }}_32.png" class="eve-icon">{{ ir.MaterialTypeName }}</td>
            <td>{{ ir.Quantity }}</td>
            <td>{{ ir.Quantity * item.InventionJobRuns }}</td>
            <td>{{ tc|FormatPrice }}</td>
        </tr>
    {% endfor %}
    {% if item.Decryptor.TypeID != 0 %}
<tr>
        <td class="valign-wrapper"><img src="/images/types/{{ item.Decryptor.TypeID }}_32.png" class="eve-icon">{{ item.Decryptor.TypeName }}</td>
        <td>1</td>
        <td>{{ item.InventionJobRuns }}</td>
        {% set dp = item.Decryptor.AdjPrice * item.InventionJobRuns %}
        <td>{{ dp|FormatPrice }} (Average EVE price)</td>

</tr>
    {% endif %}
    </table>


                                </p>
                                {% endif %}
                                <p>
    <h4 class="orange-text">Manufacturing plan</h4>
                                    You will have to invest in production <b>{{ item.MaterialCost|FormatPrice }} Isk</b>.

    <br>{% if item.InventionIncluded %}
    You have chosen to invent BPC's, so we assume you build from invented copies: <b>{{ item.MaxRuns }} run(s) per BPC, {{ item.JobRuns }} job(s) total</b>
    <br>BPC attributes: <b>{{ item.ME }} ME</b>
        {% else %}
    We assume you build from BPO: <b>infinte runs, 1 job</b>
        <br>BPO attributes: <b>{{ item.ME }} ME</b>
        {% endif %}
                                    <br><br><b>List of materials</b>
<table class="responsive-table striped">
    <tr>
        <th>Material</th>
        <th>Quantity</th>
        <th>Sell price</th>
        <th>Buy price</th>
        <th>Production costs</th>
        <th>Optimal source *</th>
    </tr>
    {% for m in item.Item.Materials %}

    {% if m.Lvl == 1 %}
    <tr>
    <td class="valign-wrapper">{% if m.ComponentBPO != 0 %}
        <a class="valign-wrapper" href="/item/{{ m.ComponentBPO|EncryptURL }}">
            <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
        </a>
        {% else %}
        <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
        {% endif %}
    </td>
    <td>{{ m.Quantity|FormatPrice }}</td>
    <td>{{ m.SellPrice|FormatPrice }}</td>
    <td>{{ m.BuyPrice|FormatPrice }}</td>
    <td>{{ m.ProdPrice|FormatPrice }}</td>
    <td>{% if m.BetterBSP == "p" %}Production{% elif m.BetterBSP == "s" %}Purchase by sell orders{% elif m.BetterBSP == "b" %}Purchase by buy orders{% endif %}</td>
    </tr>

    {% endif %}

    {% endfor %}
</table>
        <i class="text-lighten-5">* (lowest of sell-price, 110% of production-price or 110% of buy price)</i>
                                </p>
                                <h4 class="orange-text">Timeline</h4>
                                <p>
                                    Your invention and manufacturing cycle will take ... days, here is the chart
                                </p>
                                <!--<p>
                                    Production and sales taxes (no standings taken into account)
                                </p>-->
                                <h4 class="orange-text">Totals</h4>
                                <h6>
                                    Total profit will be <b>{% set pr = item.RawProfit - item.MaterialCost - item.InventionCosts %}{{ pr|FormatPrice}}</b>
                                    Your Isk/h will be ...
                                </h6>
                            </div>
                        </li>

                        {% endfor %}

                    </ul>


                </div>

                <div class="row">
                    <h5>Totals</h5>
                </div>

                
            </div>

            <div class="col s12 l2">
                banner
            </div>
		</div>



<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Новости и релизы
                </h5>
                <p>Последние новости и релизы</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Свяжитесь с нами
                </h5>
                </div>
            <div class="col l4 s12">
                <h5>
                    Куки файлы
                </h5>
                <p>Этот сайт использует файлы куки для технических целей.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 qube, All rights reserved.
        </div>
    </div>
</footer>



<ul id="slide-out" class="side-nav grey lighten-3">
    <li><div class="user-view">
    {% if currentUser.UserID == 0 %}
        <span class="blue-text"><i class="material-icons medium">person</i></span>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% else %}
        <div class="background">
            <img src="https://imageserver.eveonline.com/Character/{{ currentUser.UserID }}_512.jpg" width="300">
        </div>
        <div style="height: 270px;"></div>
        <h5 class="blue-text">{{ currentUser.UserLastName }}</h5>
        <span class="blue-text name"><a href="/login/"><img src="/assets/images/EVE_SSO_Login_Buttons_Small_White.png"></a></span>
    {% endif %}
    </div></li>
    <li><div class="divider"></div></li>
    <li>
        <div class="row">
            <div class="col l1 s12"></div>
            <div class="col l10 s12">

            </div>
            <div class="col l1 s12"></div>
        </div>
    </li>
</ul>




</body>
</html>