{% extends "item.html" %}

{% block itemcontent %}


{% verbatim %}

                <div class="col s12 l6">
                    <h5>Manufacturing</h5>
                    <table class="responsive-table striped">
                        <tr>
                            <td>Product</td>
                            <td class="valign-wrapper">
                                <div class="left valign-wrapper"><img src="/images/types/{{ item.ProductTypeID }}_32.png">{{ item.ProductName }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>BPO exists on market</td>
                            <td>{% if item.BPOPurchasable %}<a href="/market/{{ item.TypeID|EncryptURL }}" class="button-link">Market</a>{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Volume</td>
                            <td>{{ item.Volume|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Batch</td>
                            <td>{{ item.Batch }}</td>
                        </tr>
                        <tr>
                            <td>Base manufacturing time</td>
                            <td>{{ item.ManufTime|FormatDuration }}</td>
                        </tr>
                        <tr>
                            <td>Adjusted manufacturing time</td>
                            <td><b>{{ item.AdjTime|FormatDuration }}</b></td>
                        </tr>
                        <tr>
                            <td>Average price</td>
                            <td><b>{{ item.SalesAvg|FormatPrice }}</b></td>
                        </tr>
                        <tr>
                            <td>Cost direct production</td>
                            <td>{{ item.TotalCostBuy|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Cost if components produced</td>
                            <td>{{ item.TotalCostProduce|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Marginal income direct production</td>
                            <td>{{ item.MarginalIncomeBuy|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Marginal income if components produced</td>
                            <td>{{ item.MarginalIncomeProduce|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Volume of components for direct production</td>
                            <td>{{ item.TotalVolumeBuy|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Volume of components if components produced</td>
                            <td>{{ item.TotalVolumeProduce|FormatPrice }}</td>
                        </tr>
                        <tr>
                            <td>Isk/h direct production</td>
                            <td><b>{{ item.IskhBuy|FormatPrice }}</b></td>
                        </tr>
                        <tr>
                            <td>Isk/h if components produced</td>
                            <td>---</td>
                        </tr>
                    </table>
                </div>
                <div class="col s12 l6">
                    <h5>Required skills</h5>
                    <table class="responsive-table striped">

                        <tr>
                            <th>Skill</th>
                            <th>Minimum required</th>
                            <th>{{ currentUser.UserLastName }}'s skills</th>
                        </tr>
                        {% for skill in item.RequiredSkills %}

                            <tr>
                                <td>{{ skill.SkillName }}</td>
                                <td title="{{ skill.Level }}">
                                    {% for i in "xxxxx" %}
                                        {% if skill.Level <= forloop.Counter0 %}

                                        {% else %}
                                            <i class="material-icons tiny">border_outer</i>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                                <td>

                                    {% for cs in charSkills %}

                                        {% if cs.SkillID == skill.SkillID %}

                                            {% for i in "xxxxx" %}
                                            {% if cs.Active <= forloop.Counter0 %}

                                            {% else %}
                                            <i class="material-icons tiny">border_outer</i>
                                            {% endif %}
                                            {% endfor %}

                                        {% endif %}

                                    {% endfor %}

                                </td>
                            </tr>
                            {% for req in skill.Tree %}

                                    <tr>
                                        <td style="padding-left: {{ 10 + 5 * req.TreeLvl }}px;">{{ req.SkillName }} {{ req.SkillID}}</td>
                                        <td title="{{ req.Level }}">
                                            {% for i in "xxxxx" %}
                                            {% if req.Level <= forloop.Counter0 %}

                                            {% else %}
                                                <i class="material-icons tiny">border_outer</i>
                                            {% endif %}
                                            {% endfor %}

                                        </td>
                                        <td>

    {% for cs in charSkills %}

    {% if cs.SkillID == req.ReqID %}

    {% for i in "xxxxx" %}
    {% if cs.Active <= forloop.Counter0 %}

    {% else %}
    <i class="material-icons tiny">border_outer</i>
    {% endif %}
    {% endfor %}

    {% endif %}

    {% endfor %}

                                        </td>
                                    </tr>

                            {% endfor %}

                        {% endfor %}

                    </table>

                </div>

                <div class="col s12 l12">
                    <h5>Materials</h5>
                    <table class="responsive-table striped">
                        <tr>
                            <th>Material</th>
                            <th>Quantity</th>
                            <th>Avg Price</th>
                            <th>Cost</th>
                            <th>Total Volume</th>
                            <th>Obtained by</th>
                        </tr>
                        {% for m in item.Materials %}

                            {% if m.Lvl == 1 %}
                                <tr{% if m.ComponentBPO != 0 %} class="no-border"{% endif %}>
                                    <td class="valign-wrapper">{% if m.ComponentBPO != 0 %}
                                        <a class="valign-wrapper" href="/item/{{ m.ComponentBPO|EncryptURL }}">
                                                <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
                                        </a>
                                        {% else %}
                                        <img src="/images/types/{{ m.MaterialID }}_32.png" class="eve-icon"> {{ m.MaterialName }}
                                        {% endif %}
                                    </td>
                                    <td>{{ m.Quantity|FormatPrice }}</td>
                                    <td>{{ m.AvgPrice|FormatPrice }}</td>
                                    <td>{{ m.Cost|FormatPrice }}</td>
                                    <td>{{ m.TotalVolume|FormatPrice }}</td>
                                    <td>{% if m.ComponentBPO != 0 %}{{ m.ActivityName }}{% endif %}</td>
                                </tr>

                                {% if m.ComponentBPO != 0 %}

                                    <tr>
                                        <td colspan="3">Build your own</td>
                                        <td>{{ m.SubmatsTotalCost|FormatPrice }}</td>
                                        <td>{{ m.SubmatsTotalVolume|FormatPrice }}</td>
                                        <td></td>
                                    </tr>

                                    {{ RenderSubMatRows(m.ComponentBPO, m.LPath, item.Materials) }}

                                {% endif %}

                            {% endif %}

                        {% endfor %}
                    </table>
                </div>

                {% endverbatim %}

{% endblock %}
