{% extends "layout.html" %}
{% block content %}
		<div class="container padded">
			{% verbatim %}
			<h2>Ошибки сервиса {{ service }}</h2>

			<div class="container">
				<a href="/">Главная</a> |
				{% if offset > 0 %}
				<a href="/log/{{ service }}/"><< В начало</a> |
				<a href="/log/{{ service }}/?offset={{ offset - limit }}">< Назад</a> |
				{% endif %}
				<a href="/log/{{ service }}/?offset={{ offset + limit }}">Вперед ></a>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<table>

				<tr>
					<th>Критичность</th>
					<th>Дата возникновения</th>
					<th>Инфо</th>
					<th>..</th>
				</tr>

				{% for l in logs %}
					<tr>
						<td><i class="fa fa-battery-{{ l.SeverityLevel + 2 }} severity-{{ l.SeverityLevel + 2 }}" aria-hidden="true"></i></td>
						<td>{{ l.Occured|date:"02.01.2006 15:04:05" }}</td>
						<td>{{ l.Info }}</td>
						<td><a href="/message/{{ l.LogID }}/">Подробно</a></td>
					</tr>
				{% endfor %}

				</table>
			</div>
			{% endverbatim %}
		</div>
{% endblock %}
