{% include "text.html"%}
{% include "password.html"%}
{% include "textarea.html"%}
{% include "select.html"%}
{% include "checkbox.html"%}
{% include "datetime.html"%}
{% include "date.html"%}
{% include "multiple_select.html"%}
{% include "multiple_checkbox.html"%}
{% include "hidden.html"%}
{% verbatim %}

<div class="container col s8">
	<form name="{{form.Name}}">
        <div class="row">
			<h5>{{form.Title}}</h5>
		</div>
{% for element in form.Elements %}
	{% if element.TplType() == "text" %}
		{{ RenderTextField(element) }}
		{% elif element.TplType() == "numeric" %}
		{{ RenderTextField(element) }}
        {% elif element.TplType() == "password" %}
		{{ RenderPasswordField(element) }}
		{% elif element.TplType() == "hidden" %}
		{{ RenderHiddenField(element) }}
		{% elif element.TplType() == "textarea" %}
		{{ RenderTextareaField(element) }}
		{% elif element.TplType() == "select" %}
		{{ RenderSelectField(element) }}
        {% elif element.TplType() == "checkbox" %}
        {{ RenderCheckboxField(element) }}
		{% elif element.TplType() == "multiple_select" %}
		{{ RenderMultipleSelectField(element) }}
		{% elif element.TplType() == "multiple_checkbox" %}
		{{ RenderMultipleCheckboxField(element) }}
		{% elif element.TplType() == "date" %}
		{{ RenderDateField(element) }}
		{% elif element.TplType() == "datetime" %}
		{{ RenderDateTimeField(element) }}
		{% elif element.TplType() == "checkbox" %}
		{{ RenderCheckboxField(element) }}
	{% endif %}
{% endfor %}
        <button class="btn waves-effect waves-light form-sender">Сохранить
            <i class="material-icons right">send</i>
        </button>
	</form>
</div>
{% endverbatim %}