{% verbatim %}
{% macro RenderPasswordField(element) %}

<div class="row">
    <div class="input-field col s12">

        <input  {% if element.Disabled %} disabled {% endif %}
				id="{{ element.HashName }}"
                class=""
                type="password"
                name="{{ element.HashName }}"
                value="{{ element.GetValue() }}"
                placeholder="{% if element.Placeholder %} {{ element.Placeholder }} {% endif %}"
        >
		<label for="{{ element.HashName }}">{{ element.Label }}
            {% if element.Required %}<span> *</span>{% endif %}
		</label>

	</div>
</div>

{% endmacro %}

{% endverbatim %}
