<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>qube - автоматизация в облаке</title>

    <link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css?818883034" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js?818883034"></script>
</head>

<body>

<nav class="light-blue darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">qube</a>
    </div>

</nav>








<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/bg-main-1.jpg"></div>
</div>

    <div class="container">
        <h5>404 - Page not found</h5>
    </div>

        

<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Новости и релизы
                </h5>
                <p>Последние новости и релизы</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Свяжитесь с нами
                </h5>
                </div>
            <div class="col l4 s12">
                <h5>
                    Куки файлы
                </h5>
                <p>Этот сайт использует файлы куки для технических целей.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 qube, All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>