<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>EVE INDUSTRY MARKETING ANALYZER</title>

    <link href="/assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen,projection" />
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
</head>

<body>


<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">EIMA</a>
    </div>

</nav>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/backgrounds-500-1920x1080.jpg"></div>
</div>

<div class="row">
    <div class="container">
        <h5>Error message: {{ Error }}</h5>
        Details:
        <pre>{{ Message }}</pre>
    </div>
</div>


<footer class="page-footer blue-grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>
                    Help EIMA Grow
                </h5>
                <p>We hope you have enjoyed using EIMA and it helped you somehow. If you feel like you want to support us then you can help us by donating some ISK ingame to the character Ace Ruffian. Any donation could help supporting this project and would be greatly appreciated.</p>
            </div>
            <div class="col l4 s12">
                <h5>
                    Connect
                </h5>
                <a href="https://www.fuzzwork.co.uk/dump/">EVE SDE Dump by fuzzwork.co.uk</a><br>
                <iframe src="https://ghbtns.com/github-btn.html?user=aehler&repo=weasel&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
            <div class="col l4 s12">
                <h5>
                    Cookies
                </h5>
                <p>This website use cookies for essential purposes. Such as auto login and analytics. We use cookies in order to give you the best experience possible.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            &copy;&nbsp;2018 EVE INDUSTRY MARKETING ANALYZER, All rights reserved.
            <br><br>
            EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
        </div>
    </div>
</footer>

</body>
</html>